.hidden { display: none; }

body {
    background-color: $blackink;
    color: $whiteink;
    font-family: $mainfont;
}
a {
    font-family: $mainfont;
    text-decoration: none;
    font-weight: bold;
    color: $whiteink;
}
/* =========================== HEADER/FOOTER ======================== */
.mainHeader {
    background-color: $blackink;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: .5em;
}
.logo {
    background-image: url(/dist/logo/inklogo_e.svg);
    background-size: 5em;
    width: 5em;
    height: 5em;
    background-repeat: no-repeat;
    background-position: center;
}

.burgerBox {
    display: none;
}
.burgerButton {
    margin: .5em;
    width: 30px;
    height: 30px;
    transition: all 0.35s ease;
}
.burgerButton:hover {
    cursor: pointer;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}
 .burgerButton.split {
    transform: rotate(90deg);
    position: relative;
 }
.burgerBox.expanded {
    display: block;
    position: fixed;
    background-color: $blackink;
    padding-top: 1em;
    width: 350px;
    height: 300px;
    top: 10em;
    right: 20%;
    transition: all 0.5 ease;
    z-index: 1;
}


.navList {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.navList > li {
    margin-bottom: 1em;
}
.navLink {
    margin: 1em;
    font-size: 3em;
}

.hereYouAre {
    text-decoration: underline;
}

.mainFooter {
    display: flex;
    border-top: 1px solid #fff;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: .5em;
}
.socialLink {
    width: 1.4em;
}
.socialMedias {
    margin-right: .5em;
}
.bottomLink {
    font-size: 1.4em;
}


/* =============================== INDEX =========================== */ 
.inkbox {
    background-image: url(/dist/papertexture.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 600px;
    height: 600px;
    overflow: hidden;
    animation: fadein 5s forwards ease;
}
@keyframes fadein {
    0% {
        opacity: 0%;
    }
    40% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}